body {
  font-family: Arial, sans-serif;
  background-color: #1d1d1d;
  color: #fff;
  text-align: center;
}

#game-container {
  margin-top: 50px;
}

#clue-container {
  margin: 20px;
}

#clue-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#answer-input {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  width: 60%;
}

button {
  padding: 10px 20px;
  background-color: #00bcd4;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #ff5a00;
}

#feedback {
  margin-top: 15px;
  font-weight: bold;
}

#score {
  font-size: 20px;
}
